html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

#footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 0.9em;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.table-bottom {
    height: 40px;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.bottom-nav {
    margin-top: 20px;
}

h2 {
    border-bottom: 1px solid #000;
}

.box-button {
    display: inline-block;
}